

{% extends "base.html" %}

{% block body %}
{% for post in Post %}
<body class="padding-top: 54px; min-width: 992px;">

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ post.Title }}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{ post.Author }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{ post.Date }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->

        <p>KISII UNIVERSITY
SOEN 423: PROJECT RISK MANAGEMENT (45/15, C.F. 3.5)
INTRODUCTION
Definition of Risk
Risk is a concept that denotes a potential negative impact to some characteristic of value that may arise from a future event, or we can say that "Risks are events or conditions that may occur, and whose occurrence, if it does take place, has a harmful or negative effect". In everyday usage, risk is often used synonymously with the probability of a known loss. Risk is described both qualitatively and quantitatively. In some texts risk is described as a situation which would lead to negative consequences.
Qualitatively, risk is proportional to both the expected losses which may be caused by an event and to the probability of this event occurring.
Quantitatively, risk is often mapped to the probability of some event which is seen as undesirable. Usually, the probability of that event and some assessment of its expected harm must be combined into a believable scenario (an outcome), which combines the set of risk, regret and reward probabilities into an expected value for that outcome.
Risk, in insurance terms, is the possibility of a loss or other adverse event that has the potential to interfere with an organization’s ability to fulfill its goals, and for which an insurance claim may be submitted.
Risk management ensures that an organization identifies and understands the risks to which it is exposed. Risk management also guarantees that the organization creates and implements an effective plan to prevent losses or reduce the impact of losses.
A risk management plan includes strategies and techniques for recognizing and confronting these threats. Good risk management does not have to be expensive or time consuming; it may be as uncomplicated as answering these three questions:
What can go wrong?
What will we do, to prevent harm from occurring or our response to the harm or loss if it does occur?
If something happens, how will we pay for it?
Uncertainty versus Risks
Uncertainty is the lack of complete knowledge about an event/ outcome. It implies there exist more than one possibility and the "true" outcome/state/result/value is not known. Uncertainty is measured by a set of probabilities assigned to a set of possibilities. Example: "There is a 65% chance this market will double in five years"
Risk is a state of uncertainty where some of the possibilities involve a loss, catastrophe, or other undesirable outcome.
Risk is measured by a set of possibilities each with quantified probabilities and quantified losses. Example: "There is a 30% chance the proposed oil well will be dry with a loss of ksh.100 million in exploratory drilling costs".
These terms are used in such a way that one may have uncertainty without risk but not risk without uncertainty. We can be uncertain about the winner of a contest, but unless we have some personal stake in it, we have no risk. If we bet money on the outcome of the contest, then we have a risk. In both cases there is more than one outcome. The measure of uncertainty refers only to the probabilities assigned to outcomes, while the measure of risk requires both probabilities for outcomes and losses quantified for outcomes.</p>


        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment: {{ post.id }}</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>

        <!-- Comment with nested comments -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>

      </div>
{% endfor %}
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">


<!--Navigation links with a Smooth SCroll effect-->
<ul class="pre-scrollable smooth-scroll list-unstyled">

    <li>
      {% for title in TOPIC_DICT["Articles"] %}
        <h5><a href="{{title[1]}}">{{title[0]}}</a></h5>
      {% endfor %}

    </li>

</ul>


        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

{% endblock %}
